@import 'tailwindcss';

@layer components {
  .xia-backtop {
    @apply bg-gray-100 cursor-pointer shadow-sm text-gray-900 fixed right-8 bottom-8 h-10 w-10 p-1  rounded-full flex justify-center items-center;
    @apply dark:text-gray-100 dark:bg-gray-900;
  }
  .xia-backtop:hover .backtop-icon {
    @apply animate-bounce font-semibold mt-1;
  }
}
