::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}

/* 滚动槽 */
::-webkit-scrollbar-track {
  border-radius: 0;
  background: transparent;
  // background: var(--main-bgc);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: all 0.2s;
}

/* 滚动条滑块 hover */
:hover::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-bgc);
}
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner {
  background: transparent;
  // background: var(--main-bgc);
}
// 富文本编辑器全局样式
.editor {
  .w-e-text-container {
    background-color: transparent;
  }
}

// 自定义可选中标签
.custom-tag {
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 8px;
  color: #fff;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 0 7px;
  margin-right: 8px;
  display: inline-block;
}

.custom-tag.active {
  // background-color: var(--main-color) !important;
  // border-color: var(--main-color);
  // color: #fff !important;
  transform: scale(1.05);
}

.app-layout-content {
}

// body {
//   font-size: 14px;
// }

.common-content {
  position: relative;
  margin: 20px auto 0;
  width: 70vw;
  min-height: 150vh;
  min-width: 40%;
  overflow: hidden;
  z-index: 0;
  padding: 0 0 20px 0;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}

// 轮播图不能选
.banner-content {
  -webkit-user-select: none;
  user-select: none;
}

.text-color{
  color: var(--text-color);
}

// 渐变文字
.gradient-text {
  background: linear-gradient(-70deg, #db469f 0%, #2188ff 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

// 常用类名
.text-color{
  color: var(--text-color);
}
.main-color{
  color: var(--main-color);
}
.padding-top-bar{
  position: relative;
  &::after{
    content: '';
    height: 64px;
    @apply absolute left-0 top-0 w-full from-black bg-gradient-to-r to-gray-700;
  }
}

.main-bgc{
  background-color: var(--main-bgc);
}