// 富文本编辑器全局样式
.editor {
  .w-e-text-container {
    background-color: transparent;
  }
}

// 自定义可选中标签
.custom-tag {
  cursor: pointer;
  transition: all 0.3s;
  margin-bottom: 8px;
  color: #fff;
  border-radius: 3px;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  padding: 0 7px;
  margin-right: 8px;
  display: inline-block;
}

.custom-tag.active {
  background-color: var(--main-color) !important;
  border-color: var(--main-color);
  color: #fff !important;
  transform: scale(1.1);
}

.app-layout-content {
}

// body {
//   font-size: 14px;
// }

.common-content {
  position: relative;
  margin: 20px auto 0;
  width: 70vw;
  min-height: 150vh;
  min-width: 40%;
  overflow: hidden;
  z-index: 0;
  padding: 0 0 20px 0;
  @media screen and (max-width: 768px) {
    width: 90%;
  }
}
